# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore environment variables


# Ignore build directories
dist
build

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore coverage directory
coverage

# Ignore temporary files
*.tmp
*.swp